/* Main Container */
.parentMain {
  width: 100%;
  margin: 0 auto;
}

/* Header Styling */
.headerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: white;
  height: 75px;
  padding: 0 20px;
  width: 100%;
}

/* Container to keep logo and profile centered and limit its width */
.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1237px; /* Limiting the max width of the container */
  margin: 0 auto;
}



/* Sub Header Section (Credits & Profile) */
.subMain {
  display: flex;
  align-items: center;
  color: white;
  position: relative; /* To position dropdown relative to this container */
}

/* Credits Remaining */
.crRem p {
  border-right: 1px solid white;
  color: white;
  font-size: 14px;
  padding-right: 20px;
  margin-right: 20px;
}

.crRem p {
  text-transform: capitalize;
}

.dropdown {
  position: absolute;
  top: 78px; /* Adjust based on your header height */
  right: 0;
  background-color: white;
  width: 240px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Drop Shadow / 400 */
  font-family: Montserrat;
}
.forfnt{
  color: #19191980 !important;
}
.link{
  text-decoration: none !important;
}
/* Subcontainer for username and email */
.userInfo {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 12px;
  /* border-bottom: 1px solid #d3d3d3; */
}

.username {
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  margin-bottom: 6px;
  color: #191919;
}

.email {
  color: #191919B2;
  font-size: 14px;
}

.border {
  width: 100%;
  height: 1px;
  background-color: #d3d3d3;
}

/* Subscription Section */
.subscription {
  padding: 10px 12px;
}

.subscription p {
  margin: 5px 0;
  color: #191919;
}

/* Log Out Button */
.logoutButton {
  display: block;
  padding: 10px 12px;
  text-decoration: none;
  margin: 5px 0;
  font-size: 18px;
  color: #191919;
  font-weight: 400;
}

.forLast {
  display: flex;
  justify-content: space-between; /* Pushes elements to opposite sides */
  align-items: center;
  margin-bottom: 6px; /* Adds some space below */
}



/* Responsive Styling */
@media (max-width: 768px) {
  .headerMain {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .subMain {
    margin-top: 10px;
    flex-direction: column;
  }

  .crRem p {
    border-right: none;
    margin-bottom: 10px;
  }

  .profile img {
    padding: 8px;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .headerMain {
    height: auto;
    padding: 15px;
  }

  .subMain {
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
  }

  .crRem p {
    margin-bottom: 10px;
  }
}
