/*
 1.) Eric Meyer's Reset
 ----------------------------------------*/
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  vertical-align: baseline;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  color: rgba(17, 17, 17, 0.7);
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden !important;
  font-weight: normal;
  color: #172a39;
}
/*
 1.) Global Typography
 ----------------------------------------*/
*,
:before,
:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  outline: 0;
}
* {
  outline: 0;
}
body * {
  font-size: 1.6rem;
}
/*
 2.0.1) Font Face
 -----------------------------*/
/*Put Your font face Styles here*/

/*
 2.0.2) Global Headings
 -----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #111111;
  font-family: 'Montserrat', sans-serif;
  
}
h1 {
  /* font-size: 48px; */
  font-size: 2.4rem;
  line-height: 1.3;
  margin: 0 0 15px 0;
  color: #000;
  font-weight: 700;
}
h2 {
  /* font-size: 32px; */
  font-size: 2.4rem;
  line-height: 1.125;
  margin: 0 0 26px 0;
}
h3 {
  font-size: 2rem;
  line-height: 1.125;
  margin: 0 0 15px 0;
}
h4 {
  /* font-size: 21px; */
  font-size: 2.1em;
  line-height: 1;
  margin: 0 0 1em 0;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.1666;
  margin: 0 0 1.16667em 0;
}
h6 {
  /* font-size: 14px; */
  font-size: 1.4em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}
/*
 2.0.5) General Text Formatting
 -----------------------------------*/
p {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-bottom: 15px;
  color: rgba(17, 17, 17, 0.7);
}
img {
  max-width: 100%;
  height: auto;
}
strong,
span {
  display: inline-block;
}

/*
 2.0.5) General Text Formatting
 -----------------------------------*/
/*
 2.0.6) Link style
 -------------------------*/
a {
  color: #172a39;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
}
a:active {
  outline: none;
}
ul,
li {
  list-style-type: none;
}

a,
span {
  display: inline-block;
}
a:hover {
  color: #2b6ab0;
}
* {
  text-align: left;
}
.btns,
.btn {
  background: #fff;
  font-size: 18px;
  color: #ff6500;
  border: 1px solid #ff6500;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
  padding: 9px 16px;
  font-weight: 600;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.status-bar li{
  font-size: 18px;
  font-weight: 500;
}
.btns img {
  margin-left: 10px;
}
.btns .white {
  display: none;
}
.btns .orange {
  display: block;
}
.fontweight{
  font-weight: 700;
}
.fontweightsm{
  font-weight: 500 ;
}
.btns:hover {
  color: #fff;
  background: #ff6500;
}
.btns:hover .white {
  display: block;
}
.btns:hover .orange {
  display: none;
}

/* header style start */
.header {
  padding: 12px 0;
  border-bottom: 1px solid #e3e3e3;
  background: #222222;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
}
.forwid{
  width: 1287px !important;
}
.header .navbar-brand {
  color: #000;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2.4rem;
  line-height: 1.2;
  font-weight: 700;
  width: 227px;
  margin-right: 16rem;
}
.header .navbar-light .navbar-toggler {
  border: 0;
  height: 24px;
}
.header .navbar-toggler:focus {
  box-shadow: none;
}
.header .navbar-light .navbar-toggler-icon::after,
.header .navbar-light .navbar-toggler-icon::before,
.header .navbar-light .navbar-toggler-icon {
  background: none;
  height: 0;
  background: #fff;
  width: 18px;
  border-radius: 1px;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.header .navbar-light .navbar-toggler-icon::after,
.header .navbar-light .navbar-toggler-icon::before {
  position: absolute;
  width: 100%;
  left: 0;
  content: '';
  height: 2px;
  transform: rotate(-45deg);
}
.header .navbar-light .navbar-toggler-icon::after {
  transform: rotate(45deg);
}
.header .navbar-light .collapsed .navbar-toggler-icon::before {
  top: -6px;
  transform: none;
}
.header .navbar-light .collapsed .navbar-toggler-icon::after {
  bottom: -6px;
  transform: none;
}
.header .navbar-light .collapsed .navbar-toggler-icon {
  height: 2px;
}
.header .navbar-nav .nav-link {
  font-size: 16px;
  color: #fff;
  outline: 0;
}
.forfontst{
  font-weight: 16px !important;
  font-weight: 400;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ff6500 !important;
}
/* footer style */
.footer {
  background: #222222;
  padding: 0 8px 5px;
}

.footer h2 {
  color: #ffffff;
  margin-bottom: 25px;
}
.footer h2 .footer-logo {
  width: 213px;
}
.footer-desc {
  color: #b5b3b3;
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 0;
}
.footer .heading-block {
  margin-bottom: 30px;
}
.footer-nav {
  padding-bottom: 16px;
}
.footer-nav a {
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  font-size: 1.8rem;
  line-height: 1.2;
  margin: 20px 30px 8px 0;
}
.footer-nav a:hover {
  color: #ff6500;
}
.primary-footer {
  padding-top: 40px;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #a8a8a8;
}

.copy-rgt,
.term-condition a {
  color: #9f9c9c;
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}
.term-condition a {
  margin: 8px 40px 23px 0;
}
.term-condition a:hover {
  color: #ff6500;
}
.secondry-footer {
  padding: 23px 0 12px;
}
.form-control:focus {
  border-color: #ff6500;
  box-shadow: 0 0 0 0.25rem rgba(255, 101, 0, 0.25);
}

.time-control:focus {
  border-color: #ff6500;
  box-shadow: 0 0 0 0.25rem rgba(255, 101, 0, 0.25);
}

/* BackGround */
/* body {
	background: url('../images/mobile.jpg') no-repeat center top;
} */
/* .commision-sec,
.power-sec,
.admin-header,
.login-sec,
.plan-sec,
.how-work,
.whyneed-sec,
.header,
.banner-sec,
.ready-sec,
.get-tuch-sec,
.footer,
.why-built-sec,
.header {
	opacity: 0.5;
}
body {
	background: url('../images/Landing.jpg') no-repeat center top;
} */
